@tailwind base;
@tailwind components;
@tailwind utilities;

.animate{
  @apply transition-all duration-200 ease-in-out
}

.glass-effect {
  border: 1px solid #FFF;
  background: linear-gradient(107deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.30) 100%);
  backdrop-filter: blur(40px);
}

.gradiant-effect {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 98.44%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}